body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow: hidden;
	background-color: #000000;
}

.leftSide {
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	width: 50%;
	height: 100%;
	float: left;
	position: absolute;
}

.rightSide {
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	width: 50%;
	height: 100%;
	float: right;
	position: absolute;
	right: 0;
}

#Controls {
	width: 95%;
	height: 95%;
	margin: 0 auto;
	margin-top: 2.5%;
	background-color: #333333;
	/*border-radius: 15px;*/
	box-shadow: 0 0 5px 10px #333333;

}

#Inventory {
	width: 95%;
	height: 46.5%;
	margin: 0 auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	border-radius: 15px;
	background-color: #000000;
	font-family: 'VT323', 'monospace';
	font-size: 1.2vw;
	text-align: center;
	color: white;
	overflow-y: auto;

}

#Info {
	width: 95%;
	height: 46.5%;
	margin: 0 auto;
	margin-top: 2.5%;
	/*border-radius: 15px;*/
	background-color: #333333;
	text-align: center;
	box-shadow: 0 0 5px 10px #333333;
}

#parentwrap { vertical-align:top; }

#atk_buttons {
	width: 75%;
	height: 30%;
	margin: 0 auto;
	padding-top: 10%;
	text-align: center;
}

#items {
	width: 75%;
	height: 30%;
	margin: 0 auto;
	padding-top: 10%;
	text-align: center;
}

.attack {
	-webkit-transition-duration: 0.4s; /* Safari */
	margin-left: 2%;
	margin-right: 2%;
	width: 20%;
	height: 40%;
	background-color: #d37c02;
	border: 0;
	color: white;
	font-family: 'VT323', 'monospace';
	font-size: 0.8vw;
	vertical-align: top;
}

.attack:hover{
	background-color: #9e5c01;
}

.attack:active {
	background-color: #7a4701;
}

.title {
	font-family: 'VT323', 'monospace';
	font-size: 1.3vw;
	position: fixed;
	left: 22%;
	text-align: center;
	color: white;
}

#healthBar1{
	width: 80%;
	height: 10%;
	text-align: center;
	margin: 0 auto;
	background-color: gray;

}

#bar1Fill{
	-webkit-transition-duration: 1s; /* Safari */
	height: 100%;
	background-color: green;
}

#bar2Fill{
	-webkit-transition-duration: 1s; /* Safari */
	height: 100%;
	background-color: red;
}

#you {
	width:100%;
	height:50%;
	/*background-color:white;*/
	/*border-top-left-radius: 15px;*/
	/*border-top-right-radius: 15px;*/
}

#enemy {
	width:100%;
	height:50%;
	/*background-color:black;*/
	/*border-bottom-right-radius: 15px;*/
	/*border-bottom-left-radius: 15px;*/
	background-color: #444444;

}

.slow {
	height: 10%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5%;
	font-family: 'VT323', 'monospace';
	font-size: 0.6vw;
	color: #8b8d8e;
	border: 2px solid gray;
}

#slowPlayer {
	-webkit-transition-duration: 1s; /* Safari */
	background-color: #333333;
}


#slowEnemy {
	-webkit-transition-duration: 1s; /* Safari */
	background-color: #444444;

}

#confusePlayer {
	-webkit-transition-duration: 1s; /* Safari */
	background-color: #333333;
}


#confuseEnemy {
	-webkit-transition-duration: 1s; /* Safari */
	background-color: #444444;

}

#textbox {
	-webkit-transition-duration: 1s; /* Safari */
	margin: 0 auto;
	overflow: auto;
	word-wrap: break-word;

}

/*#box {
	width: 100%;
	height: 100%;

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}*/

.buff {
	-webkit-transition-duration: 0.4s; /* Safari */
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
	width: 20%;
	height: 40%;
	background-color: #d37c02;
	border: 0;
	color: white;
	font-size: 1.5vw;
	font-family: 'VT323', 'monospace';
	vertical-align: top;

}

.buff:hover {
	background-color: #d24701;
}

#playerHealthNum {
	color: white;
	font-family: 'VT323', 'monospace';
	font-size: 1vw;
}
